<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <i class="fa-solid fa-bars"></i>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">Home</button>
  </mat-menu>

  <span>{{ "header.title" | translate }}</span>
  
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="lenguages" aria-label="Example icon-button with a menu">
    <i class="fa-solid fa-language"></i>
  </button>

  <mat-menu #lenguages="matMenu">
    <!-- BTN Español -->
    <button mat-menu-item class="icon-menu" (click)="useLanguage('es')">
      <img src="https://hatscripts.github.io/circle-flags/flags/es.svg" width="15" class="mr-2">
      <span>{{'lenguajes.spanish' | translate}}</span>
    </button>
    
    <!-- BTN Ingles -->
    <button mat-menu-item class="icon-menu" (click)="useLanguage('en')">
      <img src="https://hatscripts.github.io/circle-flags/flags/uk.svg" width="15" class="mr-2">
      <span>{{'lenguajes.english' | translate}}</span>
    </button>
  </mat-menu>
</mat-toolbar>
